@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default Global: #22c55e -> RGB: 34 197 94 */
  --streamer-accent: 34 197 94;
}

[data-f1-theme="true"] {
  /* F1 Red: #FF1801 -> RGB: 255 24 1 */
  --streamer-accent: 255 24 1;
}

@layer utilities {
    .skew-f1 {
        transform: skewX(-12deg);
        transform-origin: center;
    }
}
